@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(/public/Inter-LightBETA.woff2) format("woff2"), url(/public/Inter-LightBETA.woff) format("woff");
}

:root {
  --bg-color--body: #000;
  --bg-color--button: #f0f0f0;
  --border-color: #444444;
  --link-color: #5197ff;
  --text-color: #fff;
  --fz-title: calc(34px + (14 + 14 * 0.7) * ((100vw - 360px) / 1920));
  --fz-subtitle: calc(22px + (10 + 10 * 0.7) * ((100vw - 360px) / 1920));
  --fz-text: 18px;
  --fz-text-card: 16px;

  --link-card-style {
    display: flex;
    gap: 13px;
    align-items: center;
    text-decoration: none;
    color: var(--link-color);
    max-width: max-content;
    text-wrap: nowrap;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color--body);
  color: var(--text-color);
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: var(--fz-title);
  font-weight: 600;
  letter-spacing: -0.03em;
}

p {
  font-size: var(--fz-text);
  line-height: 150%;
  max-width: max-content;
  letter-spacing: -0.02em;
}

img {
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.card__title--transparent {
  display: flex;
  flex-flow: column;
  gap: 24px;
  max-width: max-content;

  a {
    @apply --link-card-style;
  }
}

.card__title--border {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 32px;
  min-height: 309px;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  overflow: hidden;

  a {
    @apply --link-card-style;
  }
}

.card--text-wrapper {
  display: flex;
  flex-flow: column;
  gap: 20px;

  h2 {
    font-size: var(--fz-subtitle);
    font-weight: 600;
    letter-spacing: -0.03em;
  }

  p {
    font-size: var(--fz-text-card);
  }
}

.link--margin-top {
  margin-top: auto;
}
